body {
    font-family: $font-family-base;
}

button,
.btn {
    border-radius: 0;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}
 



::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $darkgrey; 
}

::-webkit-scrollbar-thumb {
    background: $red; 
}

::-webkit-scrollbar-thumb:hover {
    background: $darkgrey; 
}