@font-face{
    font-family:texta-book;
    src:url(../fonts/texta-book/2CD456_0_0.eot);
    src:url(../fonts/texta-book/2CD456_0_0.eot?#iefix) format('embedded-opentype'),url(../fonts/texta-book/2CD456_0_0.woff2) format('woff2'),url(../fonts/texta-book/2CD456_0_0.woff) format('woff'),url(../fonts/texta-book/2CD456_0_0.ttf) format('truetype')
}